:root {
    --outer-space: #1b1b1f;
    --tropical-indigo: #b707fc69;
    --periwinkle: #1f5cb6;
    --aquamarine: #990bb9;
    --aquamarine-2: #600C03;
    --headerfont: Arial;
    --addfont: Helvetica;
}

/* general styling */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--periwinkle);
    background-color: var(--outer-space);
}

/* header and nav styling */
header {
    background-color: var(--tropical-indigo);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

header div {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

header h1 {
    background: -webkit-linear-gradient(var(--aquamarine),#6583d3, #520347);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: bold;
    background-color: var(--tropical-indigo);
    padding: 10px;
    border: 5px solid var(--outer-space);
}

header a {
    text-decoration: none;
    color: var(--outer-space);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav {
    margin: 20px;
}

header nav ul li a {
    padding: 8px;
    font-size: 28px;
    margin: 20px 20px 0 0;
    font-weight: bold;
}

header nav ul li a:hover {
    background-color: var(--tropical-indigo);
    color: var(--aquamarine-2);
    border-radius: 15px;
}

.profile-pic {
    float: left;
    width: 75px;
    height: 75px;
    margin-right: 20px;
    border-radius: 70%;
}

/* header styling end */


/* banner styling start */
banner {
    background-image: url("../images/night-sky.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.quote {
    font-size: 20px;
    display: flex;
    justify-content: end;
    text-align: right;
    color: lightgray;
}

#quote-text {
    font-size: 30px;
}

/* pre */
pre {
    border-right: 5px solid var(--periwinkle);
    min-height: 100%;
    text-align: end;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
    overflow:wrap;
    font-size: 25px;

}


/* about me section style*/
about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}

about-me p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
}

/*work section style*/
work {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;

}


.wrapper {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
}

#grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

images a{
    border: solid;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

images a:hover {
    opacity: 1.0;
}

.universe {
    grid-column: 1/3;
    grid-row: 1;
    background-image: url("../images/universe.jpg");
}

.earth {
    background-image: url("../images/earth.jpg");
}

.moon {
    background-image: url("../images/moon.jpg");
}

.nebula {
    background-image: url("../images/skullnebula.jpg");
}

.eclipse {
    background-image: url("../images/eclipse.jpg");
}

label {
    background-color: lightgray;;
    color: var(--tropical-indigo);
    padding: 10px;
}

/* contact section style*/
contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-bottom: 30px;
}

.content-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-list {
    width: 60%;
}

contact ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 22px;
    font-weight: bolder;
}


contact a {
    text-decoration:none;
    color: var(--aquamarine);
    padding: 8px;
    font-weight: bold;
}

contact a:hover {
    background: var(--tropical-indigo);
    color: var(--periwinkle);
    border-radius: 15px;
}
/* Footer Style */
footer {
    background-color: var(--tropical-indigo);
    color: var(--outer-space);
    display: flex;
    text-align:center;
    padding: 20px;
}

/* TABLET SCREENS AND SMALLER */
@media screen and (max-width: 768px) {
    .quote {
        font-size: 28px;
        padding-right: 20px;
    }
    
    #quote-text {
        font-size: auto;
    }

    pre h2 {
        font-size: auto;
    }

    about-me p {
        font-size: auto;
        line-height: 1.6;
    }
}

/* MOBILE PHONE SCREENS AND SMALLER */
@media screen and (max-width: 575px) {
    header {
        justify-content: center;
        padding: 20px;
    }

    header nav ul {
        min-height: 80px;
    }

    banner {
        flex-direction: column;
    }

    about-me {
        flex-direction: column;
    }

    pre {
        border-bottom: 5px solid var(--periwinkle);
        border-right: none;
        text-align: start;
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }

    about-me p {
        font-size: auto;
        line-height: 1.6;
        width: 100%;
        padding: 15px;
    }

    work {
        flex-direction: column;
        padding: 30px 0;
    }

    .wrapper {
        width: 100%;
        padding: 10px;
    }
    
    #grid {
        width: 80%;
    }

    contact {
        flex-direction: column;
    }


    content-wrapper {
        width: 100%;
    }

    contact li {
        padding: 10px;
    }
}